@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.sidebar-transition {
  transition: width 0.3s ease-in-out;
}

.sidebar-open {
  width: 30%;
}

.sidebar-closed {
  width: 0;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  transition: width 0.3s ease-in-out; /* Ensure transition for closing */
}


/* styles.css */

input[type="radio"]:checked {
  background-color: #6b46c1; /* Purple color */
  border-color: #6b46c1; /* Purple color */
  outline: 2px solid #6b46c1; /* To ensure visibility on all browsers */
  outline-offset: 2px; /* Optional: to add some spacing around the outline */
}

/* To ensure the border color is applied */
input[type="radio"] {
  appearance: none; /* Remove default styling */
  border: 1px solid #d1d5db; /* Default border color */
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

input[type="radio"]:checked::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #6b46c1; /* Purple color */
  position: absolute;
  top: 3px;
  left: 3px;
}


/* Hide the default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  border-radius: 5px;
 }
 
 .container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
  border-radius: 5px;
  box-shadow: 2px 2px 0px rgb(183, 183, 183);
 }
 
 /* Create a custom checkbox */
 .checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background-color: #ccc;
  border-radius: 5px;
 }
 
 /* When the checkbox is checked, add a blue background */
 .container input:checked ~ .checkmark {
  box-shadow: 3px 3px 0px rgb(183, 183, 183);
  transition: all 0.2s;
  opacity: 1;
  background-image: linear-gradient(45deg, rgb(100, 61, 219) 0%, rgb(217, 21, 239) 100%);
 }
 
 .container input ~ .checkmark {
  transition: all 0.2s;
  opacity: 1;
  box-shadow: 1px 1px 0px rgb(183, 183, 183);
 }
 
 /* Create the checkmark/indicator (hidden when not checked) */
 .checkmark:after {
  content: "";
  position: absolute;
  opacity: 0;
  transition: all 0.2s;
 }
 
 /* Show the checkmark when checked */
 .container input:checked ~ .checkmark:after {
  opacity: 1;
  transition: all 0.2s;
 }
 
 /* Style the checkmark/indicator */
 .container .checkmark:after {
  left: 0.45em;
  top: 0.25em;
  width: 0.25em;
  height: 0.5em;
  border: solid white;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
 }

 /* styles.css */
.hover-fill-white {
    fill: white;
    opacity: 0.4;
}

.hover-underline {
  position: relative;
  text-decoration: none;
}

.hover-underline::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #ffffff; 
  transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
}

.hover-underline:hover::after {
  width: 100%;
  left: 0;
}
